// Main Font
$font-primary: Lato, Arial, sans-serif;

// Color Palette
$color-body-bg: #3c3c3c;
$color-body-text: #666;
$color-page-border: #444;
$color-section-dkGray: #333;
$color-section-mdGray: #ebebeb;
$color-section-ltGray: #f5f5f5;
$color-header-gradient-top: #1e1e1e;
$color-person-name: #adadd9;
$color-person-role: #adadd9;
$color-person-biopic-border: #adadd9;
$color-contact-bg: #444;
$color-contact-borderBottom: #262626;
$color-contact-borderTop: #4e4e4e;
$color-contact-value: #bfae60;
$color-message-fg: #777;

// Media Query Breakpoints
$bp-xs: 360px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

/*
 * MOBILE FIRST CSS
 * Default Styles Target: Small Mobile Devices
 *
 * TABLE OF CONTENTS
 * -----------------
 * -  1:GLOBAL
 * -  2:HEADER
 * -  3:CONTACTS BAR
 * -  4:WELCOME MESSAGE
 * -  5:SKILLS AT A GLANCE
 * -  6:WORK EXPERIENCE
 * -  7:PROJECTS
 * -  8:EDUCATION
 * -  9:GOOGLE MAP
 * - 10:LET'S CONNECT
 *
 * - MEDIA QUERIES
 */

/************************************************
 * 1:GLOBAL STYLES
 ************************************************/

body {
    background: $color-body-bg;
    color: $color-body-text;
    font-family: $font-primary;
    font-weight: 300;
}

.page {
    border: 1px solid $color-page-border;
    margin-bottom: 20px;
}

.sect-dkGray {
    background: $color-section-dkGray;
}

.sect-mdGray {
    background: $color-section-mdGray;
}

.sect-ltGray {
    background: $color-section-ltGray;
}

h3, h4 {
    font-size: 1.75rem;
    margin: 1rem 0;
}

/************************************************
 * 1:HEADER STYLES
 ************************************************/
header {
    background: linear-gradient(to bottom, $color-header-gradient-top, $color-section-dkGray);
}

.bioPic {
    border: 2px solid $color-person-biopic-border;
    border-radius: 50%;
    width: 55px;
}

.person {
    color: $color-person-name;
}

.name {
    font-size: 1.75rem;
    font-weight: 300;
    margin-bottom: .25rem;
}

.role {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

/************************************************
 * 1:CONTACTS BAR STYLES
 ************************************************/
.contacts {
    background: $color-contact-bg;
    border-bottom: 1px solid $color-contact-borderBottom;
    border-top: 1px solid $color-contact-borderTop;
    font-size: 0.9rem;
    margin-bottom: 0;
    text-transform: lowercase;
}

.contact {
    margin: 0.2rem 0.35rem 0.4rem 0.35rem;
    white-space: nowrap;
}

.contact-type:after {
    content: ": "
}

.contact-value {
    color: $color-contact-value;
}

/************************************************
 * 1:WELCOME MESSAGE STYLES
 ************************************************/
.welcome-message {
    color: $color-message-fg;
    font-style: italic;
    padding: 1.5rem;
}

/************************************************
 * 1:SKILLS AT A GLANCE STYLES
 ************************************************/
//#skills h4 {
//    margin: 1rem 0;
//}

.skill-item {
    background: lighten($color-section-mdGray, 2);
    border: 1px solid darken($color-section-mdGray, 10);
    border-radius: 4px;
    margin: .25em;
    padding: 0.2em 0.6em;
}

/************************************************
 * 1:WORK EXPERIENCE STYLES
 ************************************************/
.work-entry {
    max-width: 750px;
}

.title-text {
    color: darken($color-body-text, 30);
    font-weight: normal;
}

.employer-text {
    font-weight: normal;
}

.date-text, .location-text {
    font-size: 0.9rem;
}

.description {
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}

/************************************************
 * 1:PROJECTS STYLES
 ************************************************/
#projects {
    padding-bottom: 1rem;
}

.project-title {
    font-weight: normal;
}

/************************************************
 * 1:EDUCATION STYLES
 ************************************************/
#education h4 {
    font-size: 1.25rem;
}

.school-text {
    font-weight: normal;
}

.online-title {
    color: $color-body-text;
    font-weight: normal;
}

.online-date, .online-school {
    font-size: 0.9rem;
}

.online-school {
    margin-bottom: 0.5rem;
}

/************************************************
 * 1:GOOGLE MAP STYLES
 ************************************************/
#map {
    height: 300px;
    height: 75vh;
    max-height: 600px;
    width: 100%;
}

/************************************************
 * 1:LET'S CONNECT STYLES
 ************************************************/
#letsConnect {
    background: $color-section-dkGray;
}

/*
 * MEDIA QUERIES
 *
 * BOOTSTRAP BREAKPOINTS
 * xs 360px
 * sm 576px
 * md 768px
 * lg 992px
 * xl 1200px
 */

/************************************************
 * BOOTSTRAP BREAKPOINT - sm
 ************************************************/
@media (min-width: $bp-sm) {
    .bioPic {
        width: 65px;
    }

    .name {
        font-size: 2rem;
    }

    .role {
        font-size: 1.15rem;
    }

    .welcome-message {
        padding: 2rem;
    }
}

/************************************************
 * BOOTSTRAP BREAKPOINT - md
 ************************************************/
@media (min-width: $bp-md) {
    .bioPic {
        width: 80px;
    }

    .name {
        font-size: 2.25rem;
    }

    .role {
        font-size: 1.3rem;
    }

    .welcome-message {
        padding: 2rem 4rem;
    }
}

/************************************************
 * BOOTSTRAP BREAKPOINT - lg
 ************************************************/
@media (min-width: $bp-lg) {
    .bioPic {
        width: 100px;
    }

    .name {
        font-size: 3rem;
    }

    .role {
        font-size: 1.5rem;
    }

    .welcome-message {
        padding: 2.5rem 4rem;
    }

    .work-entry {
        max-width: 750px;
    }
}
