/*
 * MOBILE FIRST CSS
 * Default Styles Target: Small Mobile Devices
 *
 * TABLE OF CONTENTS
 * -----------------
 * -  1:GLOBAL
 * -  2:HEADER
 * -  3:CONTACTS BAR
 * -  4:WELCOME MESSAGE
 * -  5:SKILLS AT A GLANCE
 * -  6:WORK EXPERIENCE
 * -  7:PROJECTS
 * -  8:EDUCATION
 * -  9:GOOGLE MAP
 * - 10:FOOTER
 *
 * - MEDIA QUERIES
 */
/************************************************
 * 1:GLOBAL STYLES
 ************************************************/
body {
  background: #3c3c3c;
  color: #7d7d7d;
  font-family: Lato, Arial, sans-serif; }

.page {
  border: 1px solid #444; }

.sect-dkGray {
  background: #333; }

.sect-mdGray {
  background: #ebebeb; }

.sect-ltGray {
  background: #f5f5f5; }

/************************************************
 * 1:HEADER STYLES
 ************************************************/
header {
  background: linear-gradient(to bottom, #222, #333); }

.bioPic {
  border: 2px solid #adadd9;
  border-radius: 50%;
  width: 55px; }

.person {
  color: #adadd9; }

.name {
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: .25rem; }

.role {
  font-size: 1rem;
  font-weight: 300; }

/************************************************
 * 1:CONTACTS BAR STYLES
 ************************************************/
#contacts {
  background: #444;
  border-bottom: 1px solid #262626;
  border-top: 1px solid #4e4e4e;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 0;
  text-transform: lowercase; }

.contact {
  cursor: default;
  margin: 0.2rem 0.3rem 0.4rem 0.3rem;
  white-space: nowrap; }

.fa {
  color: #888; }

.contact-type:after {
  content: ": "; }

.contact-value {
  color: #bfae60; }

/************************************************
 * 1:WELCOME MESSAGE STYLES
 ************************************************/
.welcome-message {
  font-style: italic;
  font-weight: 300;
  padding: 1.5rem; }

/************************************************
 * 1:SKILLS AT A GLANCE STYLES
 ************************************************/
#skills h4 {
  margin: 1rem 0; }

#skills .skill-item {
  padding: 0.2em 0.6em;
  background: #e2e2e2;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  margin: .25em; }

/************************************************
 * 1:WORK EXPERIENCE STYLES
 ************************************************/
#workExperience h3 {
  margin: 1rem 0; }

.title-text {
  color: #444;
  font-weight: bold; }

.employer-text {
  color: #666; }

.date-text {
  font-size: 0.85rem; }

.location-text {
  font-size: 0.85rem; }

/************************************************
 * 1:PROJECTS STYLES
 ************************************************/
#projects h3 {
  margin: 1rem 0; }

#projects {
  padding-bottom: 1rem; }

/************************************************
 * 1:EDUCATION STYLES
 ************************************************/
#education h3 {
  margin: 1rem 0; }

#education h4 {
  font-size: 1.25rem;
  margin: 0.5rem 0; }

.online-title {
  color: #666; }

.online-date, .online-school {
  font-size: 0.85rem; }

.online-school {
  margin-bottom: 0.5rem; }

/************************************************
 * 1:GOOGLE MAP STYLES
 ************************************************/
#mapDiv h3 {
  margin: 1rem 0; }

#map {
  height: 300px; }

/************************************************
 * 1:FOOTER STYLES
 ************************************************/
#letsConnect h3 {
  margin: 1rem 0; }

footer {
  font-size: .85rem;
  color: #888;
  background: #222;
  border-top: 2px solid #888; }

@media (min-width: 576px) {
  .bioPic {
    width: 65px; }
  .name {
    font-size: 2rem; }
  .role {
    font-size: 1.15rem; } }

@media (min-width: 768px) {
  .bioPic {
    width: 80px; }
  .name {
    font-size: 2.25rem; }
  .role {
    font-size: 1.3rem; } }

@media (min-width: 992px) {
  .bioPic {
    width: 100px; }
  .name {
    font-size: 3rem; }
  .role {
    font-size: 1.5rem; }
  .work-entry {
    max-width: 750px; } }
